<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://panel.websiteori.com/files/system/_file608bdc2579c6c-favicon.png">
    <title>WebsiteOri - Template SEO</title>
    <!-- tailwind -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <!-- normal css -->
    <link rel="stylesheet" href="assets/css/style.css">
    <!-- date -->
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/lightpick@latest/css/lightpick.css">
</head>

<body class="bg-gray-100">
    <div id="app">
        <!-- header -->
        <header class="px-8 py-5 text-gray-700">
            <nav class="flex justify-between items-center">
                <!-- kiri -->
                <div class="leading-8">
                    <h1 class="text-2xl text-red-500 font-bold">Laporan Analisa SEO:
                        <input id="project" v-model="project" @change="localStorage" autocomplete="off" type="text"
                            placeholder="nama project"
                            class="w-72 text-2xl font-bold text-red-500 bg-gray-100 px-1 focus:outline-none" />
                    </h1>
                    <!-- date -->
                    <div class="flex items-center text-md">
                        <p class="">Periode: </p>
                        <p class="hidden" id="result-2">&nbsp;</p>
                        <input autocomplete="off" type="text" id="demo-2" placeholder="date range picker"
                            class="w-60 bg-gray-100 px-2 focus:outline-none" />
                    </div>
                </div>
                <!-- kanan -->
                <img class="w-36" src="assets/img/logo.png" alt="">
            </nav>
            <hr class="my-4 border-2 border-red-100">

            <!-- hero -->
            <div class="">
                <h2 class="text-lg pb-3 text-red-500 font-medium">Gambaran Semua Kata Kunci</h2>
                <!-- statistik -->
                <div class="grid grid-cols-3 bg-white shadow-lg text-center rounded-md">
                    <!-- kiri -->
                    <div class="p-2">
                        <p class="p-2">Posisi (Rata-rata)</p>
                        <p class="text-5xl grid items-center h-36" id="average" v-text="average"></p>
                    </div>
                    <!-- tengah -->
                    <div class="p-2 col-span-1 border-l border-r border-gray-300">
                        <p class="p-2 text-center">Distribusi Keyword</p>
                        <div class="flex justify-around">
                            <div class="flex text-red-400">
                                <p class="">Top 3:</p>
                                <input class="w-14 text-center outline-none" type="number" v-on:input="updateChart"
                                    v-model="top[0]">
                            </div>
                            <div class="flex text-blue-400">
                                <p class="">Top 10:</p>
                                <input class="w-14 text-center outline-none" type="number" v-on:input="updateChart"
                                    v-model="top[1]">
                            </div>
                            <div class="flex text-yellow-400">
                                <p class="">Top 100:</p>
                                <input class="w-14 text-center outline-none" type="number" v-on:input="updateChart"
                                    v-model="top[2]">
                            </div>
                        </div>
                        <div class="">
                            <canvas class="" id="planet-chart" height="34vh" width="100vw"></canvas>
                        </div>
                    </div>
                    <!-- kanan -->
                    <div class="p-2">
                        <p class="p-2">Perubahan Keyword</p>
                        <div class="grid grid-cols-2 items-center h-36 justify-around">
                            <!-- up -->
                            <p class="text-4xl flex justify-center items-center">
                                <!-- icon -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 mx-2 text-green-500"
                                    viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 0l-3 3a1 1 0 001.414 1.414L9 9.414V13a1 1 0 102 0V9.414l1.293 1.293a1 1 0 001.414-1.414z"
                                        clip-rule="evenodd" />
                                </svg>
                                <!-- angka dinamis -->
                                <label v-text="up"></label>
                            </p>
                            <!-- down -->
                            <p class="text-4xl flex justify-center items-center">
                                <!-- icon -->
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 mx-2 text-red-500"
                                    viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd"
                                        d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v3.586L7.707 9.293a1 1 0 00-1.414 1.414l3 3a1 1 0 001.414 0l3-3a1 1 0 00-1.414-1.414L11 10.586V7z"
                                        clip-rule="evenodd" />
                                </svg>
                                <!-- angka dinamis -->
                                <label v-text="down"></label>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- content -->
        <div class="px-8 pb-5 text-gray-700">
            <!-- domain -->
            <div>
                <h2 class="text-lg pb-3 text-red-500 font-medium">Keyword</h2>
                <div class="grid grid-cols-4 text-center bg-white shadow-md rounded-md">
                    <!-- kiri -->
                    <div class="text-left col-span-2">
                        <p class="px-5 py-2 rounded-tl-md bg-red-100 border-gray-300">Domain</p>
                        <input class="p-3 w-full outline-none" type="text" v-model="domain" placeholder="masukan domain"
                            @change="localStorage">
                    </div>
                    <!-- tengah -->
                    <div class="border-l border-r border-gray-300">
                        <p class="px-5 py-2 bg-red-100 border-gray-300">Domain Otoritas</p>
                        <input class="p-3 w-full outline-none text-center" type="number" v-model="otoritas"
                            @change="localStorage">
                    </div>
                    <!-- kanan -->
                    <div class="">
                        <p class="px-5 py-2 rounded-tr-md bg-red-100 border-gray-300">Halaman Terindex</p>
                        <input class="p-3 w-full outline-none text-center" type="number" v-model="index"
                            @change="localStorage">
                    </div>
                </div>
            </div>
            <!-- table  -->
            <div class="py-5">
                <div class="py-5 grid grid-cols-11 text-center bg-white shadow-lg rounded-md">
                    <!-- kata kuci -->
                    <div class="pl-5 col-span-3 text-left">
                        <!-- judul -->
                        <p class="font-medium py-5 border-b-2 border-gray-300">Keyword</p>
                        <!-- input keyword -->
                        <div class="py-2">
                            <div v-for="(list, index) in allData" :key="index">
                                <input class="py-3 w-full outline-none" placeholder="masukan keyword" type="text"
                                    name="name" v-model="list.keywords" />
                            </div>
                        </div>
                    </div>
                    <!-- rank -->
                    <div class="col-span-3">
                        <div class="">
                            <p class="py-1 font-medium">Peringkat</p>
                            <!-- 2 minggu lalu -->
                            <div class="flex justify-around">
                                <div class="w-full">
                                    <p class="py-1.5 text-sm text-red-400 border-b-2 border-gray-300">2 Minggu Lalu
                                    </p>
                                    <div class="py-2">
                                        <div v-for="(list, index) in allData" :key="list.id">
                                            <input class="py-3 text-center w-full outline-none" type="number"
                                                v-model="list.twoWeeksAgo" v-on:input="minWeeks" />
                                        </div>
                                    </div>
                                </div>
                                <!-- minggu lalu -->
                                <div class="w-full">
                                    <p class=" py-1.5 text-sm text-blue-400 border-b-2 border-gray-300">Minggu Lalu
                                    </p>
                                    <div class="py-2">
                                        <div v-for="(list, index) in allData" :key="list.id">
                                            <input class="py-3 text-center w-full outline-none" type="number"
                                                v-model="list.lastWeek" v-on:input="minWeeks" />
                                        </div>
                                        <!-- <input class="py-3 text-center w-full outline-none" type="number"
                                            v-model="lastWeek[0]" v-on:input="minWeeks"> -->
                                    </div>
                                </div>
                                <!-- minggu ini -->
                                <div class="w-full">
                                    <p class="py-1.5 text-sm text-yellow-400 border-b-2 border-gray-300">Minggu Ini
                                    </p>
                                    <div class="py-2">
                                        <div v-for="(list, index) in allData" :key="list.id">
                                            <input class="py-3 text-center w-full outline-none" type="number"
                                                v-model="list.thisWeek" v-on:input="minWeeks" @change="totalAverage" />
                                        </div>
                                        <!-- <input class="py-3 text-center w-full outline-none" type="number"
                                            v-model="thisWeek[4]" @change="totalAverage" v-on:input="minWeeks"> -->
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- perubahan -->
                    <div class="col-span-2">
                        <p class="font-medium py-5 border-b-2 border-gray-300">Perubahan Terakhir</p>
                        <div class="py-2">
                            <div v-for="(list, index) in allData" :key="list.id">
                                <input autocomplete="off" class="py-27 w-full text-center outline-none" type="date"
                                    placeholder="date">
                            </div>
                            <!-- <div class="">
                                <p class="hidden" id="result-1">&nbsp;</p>
                                <input autocomplete="off" class="py-3 w-full text-center outline-none" type="text"
                                    id="date-1" placeholder="date">
                            </div> -->
                        </div>
                    </div>
                    <!-- d/w/m -->
                    <div class="col-span-2">
                        <p class="font-medium py-5 border-b-2 border-gray-300">D/W/M</p>
                        <div class="py-2">
                            <div v-for="(list, index) in allData" :key="list.id">
                                <input class="py-3 text-center w-full outline-none" type="number" v-model="list.dMW"
                                    v-on:input="minWeeks" />
                            </div>
                            <!-- <input disabled class="py-3 text-center w-full outline-none" type="number" v-model="dMW[0]"> -->
                        </div>
                    </div>
                    <!-- hapus -->
                    <div class="pr-5">
                        <p class="font-medium py-5 border-b-2 border-gray-300">Action</p>
                        <div class="py-2">
                            <div v-for="(list, index) in allData" :key="index">
                                <svg xmlns="http://www.w3.org/2000/svg" v-on:click="deleteItem(index)"
                                    class="mx-auto py-3 w-6 cursor-pointer" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- evolusi -->
            <div class="pb-5">
                <!-- statistik -->
                <div class="grid grid-cols-5 bg-white shadow-lg text-center rounded-md">
                    <!-- 1 -->
                    <div v-for="(list, index) in allData" :key="index">
                        <div class="p-2 h-full w-full border-gray-300">
                            <p class="p-2 text-center">{{ index+1 }} {{ list.keywords }}</p>
                            <div class="">
                                <canvas class="" id="chart-satu" height="34vh" width="100vw"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- tambah -->
            <div class="text-right">
                <button class="px-3 py-1 bg-red-500 text-white shadow-md rounded-md" @click="addNewItems">Tambah
                </button><!-- tombol -->
                <button class="px-3 py-1 bg-red-500 text-white shadow-md rounded-md"
                    onclick="location.reload();localStorage.clear();">Clear
                </button>
            </div>
        </div>
    </div>

    <!-- vue -->
    <script src="assets/vendor/vue.js"></script>
    <script src="assets/js/app.js"></script>
    <!-- date -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="https://unpkg.com/lightpick@latest/lightpick.js"></script>
    <script src="assets/js/date.js"></script>
    <!-- chart -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="assets/js/chart.js"></script>

</body>

</html>